<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <div class="main" style="margin: 20px;">
        <form action="/add" method="post">
            <input type="text" required name="f_name" placeholder="first name goes here" />
            <input type="text" required name="l_name" placeholder="last  name goes here" />
            <input type="number" required name="age" placeholder="age goes here" />
          <textarea required  placeholder="write your task details here" name="details" ></textarea>
          <input type="submit" value="Create the task"/>
        </form>
     </div>
</body>
</html>