<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="saved">
        <a href="/">Back to home</a>
        <div class="user">
            <div class="f_name"><%=f_name %></div>
            <div class="l_name"><%=l_name %></div>
            <div class="age"><%=age %></div>
            <div class="details"><%=details %></div>
            <p>Your details saved successfully </p>
        </div>
    </div>
</body>
</html>